<% include header %>

<% if(selection.length){ %>
	<% selection.forEach(function(topic) { %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="text-muted pull-right">
					<%= topic.published %>
				</div>
				<%= topic.title %>
			</div>
			<div class="panel-body">
				<%= topic.body %>
			</div>
		</div>
	<% }) %>
<% } else { %>
	No topics!<br/><a href="/new-topic">Add a topic?</a>
<% } %>

<% include footer %>